@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address style="font-size:16px; color:#6d6d6d">
    3700 Willingdon Ave<br />
    Burnaby, BC V5G 3H2<br />
    <abbr title="Phone">P:</abbr>
    604-434-5734
</address>

<address>
    <p style="font-size:16px; color:#6d6d6d">Camillus Kung: <a href="mailto:ckung8@my.bcit.ca">ckung8@my.bcit.ca</a></p>
    <p style="font-size:16px; color:#6d6d6d">Victor Starzynski: <a href="mailto:vstarzynski@my.bcit.ca">vstarzynski@my.bcit.ca</a></p>
</address>
